.footer-subscribe {

    .success-mode {

        .message {}

        .close {
            padding-top: 15px;
        }
    }

    .error-mode {

        .message {}

        .link {
            padding-top: 5px;

            .form-preloader--error-link {
                padding: 0;

                .row-1 {

                    .t {
                        font-size: 12px;
                    }
                }

                .row-1 {

                    .t {
                        font-size: 14px;
                    }
                }
            }
        }

        .close {
            padding-top: 15px;
        }
    }
}