.slider{
    position: relative;

    .slides{}

    .nav{
        width: 325px;
        height: 155px;

        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: auto;

        @include media-breakpoint-down(lg){
            display: none;
        }
    }

    .nav-mobile{
        display: none;

        height: 50px;

        position: absolute;
        top: auto;
        right: 0;
        bottom: 0;
        left: 0;

        @include media-breakpoint-down(lg){
            display: block;
        }
    }
}

.slides{
    position: relative;

    .slide{
        position: absolute;
        top: 0;

        display: none;
        
        .img{
            max-width: 100%;
            display: block;
        }
    }

    .show{
        display: block;
        position: static;
    }
}

.slide-description{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include media-breakpoint-down(lg){
        justify-content: flex-start;
        padding-top: 5px;
    }

    .description{
        padding-left: 50px;

        .t{
            font-family: 'worksans';
            font-style: normal;
            font-weight: 600;
            font-size: 45px;
            color: #292E3D;

            @include media-breakpoint-down(lg){
                font-size: 18px;
            }
        }
    }
}

.slider-nav{
    background-color: #3559C7;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .category{
        flex-grow: 1;
        position: relative;
    }

    .btns{
        flex-basis: 40px;
    }
}

.slider-navigation-btns{
    display: flex;
    flex-direction: row;

    .l{
        flex-basis: 50%;
    }

    .delimiter{
        flex-basis: 1px;
        background: #ffffff;
    }

    .r{
        flex-basis: 50%;
        position: relative;
    }
}

.slider-nav-r{
    background: #292E3D;
    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    .t{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        font-family: 'worksans';
        color: #ffffff;
    }

    .i{
        margin-left: 8px;
        width: 19px;
        height: auto;
    }
}

.slider-nav-l{
    background: #292E3D;
    height: 40px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    .t{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        font-family: 'worksans';
        color: #ffffff;
    }

    .i{
        margin-right: 8px;
        width: 19px;
        height: auto;
    }
}

.slide-categories{

    .slider-category{
        display: none;
        flex-direction: column;
    
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    
        font-family: 'worksans';
        font-style: normal;
        color: #FFFFFF;
        text-align: center;
    
        .title{
            flex-basis: 35%;
            padding-top: 15px;
    
            .t{
                font-weight: 700;
                font-size: 16px;
            }
        }
    
        .description{
            flex-basis: 65%;
    
            .t{
                font-weight: 400;
                font-size: 18px;
            }
        }
    }

    .show{
        display: flex;
    }
}

.slider-nav-mobile{
    height: 50px;

    display: flex;
    flex-direction: row;

    .l{
        flex-basis: 50px;
        @include media-breakpoint-down(sm){
            flex-basis: 35px;
        }
    }

    .center{
        flex-grow: 1;
    }

    .r{
        flex-basis: 50px;
        @include media-breakpoint-down(sm){
            flex-basis: 35px;
        }
    }
}

.slider-nav-mobile-r{
    width: 50px;
    height: 50px;

    @include media-breakpoint-down(sm){
        width: 35px;
        height: 50px;
    }

    background: #292E3D;
    opacity: .5;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    .img{}
}

.slider-nav-mobile-l{
    width: 50px;
    height: 50px;

    @include media-breakpoint-down(sm){
        width: 35px;
        height: 50px;
    }

    background: #292E3D;
    opacity: .5;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    .img{}
}