.contact-form {
    background-color: #F6F8F7;
    position: relative;

    .container {
        padding: 0 50px;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {
            padding: 0 25px;
        }

        @include media-breakpoint-only(sm) {
            padding: 0 25px;
        }

        @include media-breakpoint-only(xs) {
            padding: 0 25px;
        }

        h2 {
            margin: 0;
            padding: 60px 0 20px;

            font-family: 'worksans';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;

            color: #292E3D;
            text-align: center;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {}

            @include media-breakpoint-only(lg) {
                padding: 40px 0 20px;
                font-size: 28px;
            }

            @include media-breakpoint-only(md) {
                padding: 40px 0 20px;
                font-size: 28px;
            }

            @include media-breakpoint-only(sm) {
                padding: 40px 0 20px;
                font-size: 28px;
            }

            @include media-breakpoint-only(xs) {
                padding: 40px 0 20px;
                font-size: 28px;
            }
        }

        .text {
            width: 592px;
            margin: 0 auto;
            padding-bottom: 38px;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {}

            @include media-breakpoint-only(lg) {
                font-size: 18px;
            }

            @include media-breakpoint-only(md) {}

            @include media-breakpoint-only(sm) {
                width: auto;
            }

            @include media-breakpoint-only(xs) {
                width: auto;
            }

            p {
                margin: 0;
                padding: 0;

                font-family: 'worksans';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;

                line-height: 23px;
                text-align: center;
                color: #292E3D;

                @include media-breakpoint-only(xxl) {}

                @include media-breakpoint-only(xl) {}

                @include media-breakpoint-only(lg) {
                    font-size: 18px;
                }

                @include media-breakpoint-only(md) {
                    font-size: 18px;
                }

                @include media-breakpoint-only(sm) {
                    font-size: 18px;
                }

                @include media-breakpoint-only(xs) {
                    font-size: 18px;
                }
            }
        }
    }

    .preloader {
        display: none;
        opacity: 0;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: #000000bb;

        justify-content: center;
        align-items: center;
    }

    // .d {
    //     display: flex;
    // }

    // .a {
    //     opacity: 1;
    // }
}

.form {
    width: 592px;
    margin: 0 auto;
    padding-bottom: 61px;

    @include media-breakpoint-only(xxl) {}

    @include media-breakpoint-only(xl) {}

    @include media-breakpoint-only(lg) {}

    @include media-breakpoint-only(md) {
        width: auto;
    }

    @include media-breakpoint-only(sm) {
        width: auto;
    }

    @include media-breakpoint-only(xs) {
        width: auto;
        font-size: 18px;
    }

    .field {}

    .submit {
        padding-top: 30px;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {
            padding-top: 15px;
        }

        @include media-breakpoint-only(sm) {
            padding-top: 15px;
        }

        @include media-breakpoint-only(xs) {
            padding-top: 15px;
        }

        .btn {
            display: block;
            margin: 0 auto;

            width: 271px;
            height: 53px;

            font-family: 'worksans';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;

            color: #FFFFFF;
            background: #2947A9;

            border: none;
            border-radius: 2px;

            cursor: pointer;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {}

            @include media-breakpoint-only(lg) {
                width: 250px;
                height: 45px;
                font-size: 16px;
            }

            @include media-breakpoint-only(md) {
                width: 100%;
                height: 45px;
                font-size: 16px;
            }

            @include media-breakpoint-only(sm) {
                width: 100%;
                height: 45px;
                font-size: 16px;
            }

            @include media-breakpoint-only(xs) {
                width: 100%;
                height: 45px;
                font-size: 16px;
            }
        }
    }
}

.form-field {

    .row-1 {
        height: 22px;

        display: flex;
        flex-direction: row;

        .col-1 {
            flex-basis: 200px;

            .label {
                font-family: 'worksans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #292E3D;

                @include media-breakpoint-only(xxl) {}

                @include media-breakpoint-only(xl) {
                    font-size: 16px;
                }

                @include media-breakpoint-only(lg) {
                    font-size: 14px;
                }

                @include media-breakpoint-only(md) {
                    font-size: 14px;
                }

                @include media-breakpoint-only(sm) {
                    font-size: 14px;
                }

                @include media-breakpoint-only(xs) {
                    font-size: 14px;
                }
            }
        }

        .col-2 {
            flex-grow: 1;
            height: 22px;

            font-family: 'worksans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;

            color: #b10000;

            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {
                font-size: 14px;
            }

            @include media-breakpoint-only(lg) {
                height: 15px;
                font-size: 12px;
            }

            @include media-breakpoint-only(md) {
                height: 15px;
                font-size: 12px;
            }

            @include media-breakpoint-only(sm) {
                height: 15px;
                font-size: 12px;
            }

            @include media-breakpoint-only(xs) {
                height: 15px;
                font-size: 12px;
            }
        }
    }

    .row-2 {

        .input {
            display: block;
            box-sizing: border-box;
            outline: none;

            padding: 0 10px;

            width: 100%;
            height: 35px;

            background: #FFFFFF;

            border: 1px solid #E0E3EB;
            border-radius: 4px;

            &[type="text"] {
                color: #3a3a3a;
                font-size: 16px;
            }

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {
                height: 30px;

                &[type="text"] {
                    font-size: 14px;
                }
            }

            @include media-breakpoint-only(lg) {
                height: 30px;

                &[type="text"] {
                    font-size: 14px;
                }
            }

            @include media-breakpoint-only(md) {
                height: 30px;

                &[type="text"] {
                    font-size: 14px;
                }
            }

            @include media-breakpoint-only(sm) {
                height: 30px;

                &[type="text"] {
                    font-size: 14px;
                }
            }

            @include media-breakpoint-only(xs) {
                height: 30px;

                &[type="text"] {
                    font-size: 14px;
                }
            }
        }

        .textarea {
            display: block;
            box-sizing: border-box;
            outline: none;

            padding: 10px;
            font-size: 16px;

            resize: none;

            width: 100%;
            height: 135px;

            background: #FFFFFF;

            border: 1px solid #E0E3EB;
            border-radius: 4px;

            color: #3a3a3a;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {
                font-size: 14px;
            }

            @include media-breakpoint-only(lg) {
                font-size: 14px;
            }

            @include media-breakpoint-only(md) {
                font-size: 14px;
            }

            @include media-breakpoint-only(sm) {
                font-size: 14px;
            }

            @include media-breakpoint-only(xs) {
                font-size: 14px;
            }
        }
    }

    .row-3 {
        height: 22px;

        text-align: right;

        font-family: 'worksans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;

        color: #b10000;

        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {
            font-size: 14px;
        }

        @include media-breakpoint-only(lg) {
            font-size: 12px;
        }

        @include media-breakpoint-only(md) {
            font-size: 12px;
        }

        @include media-breakpoint-only(sm) {
            font-size: 12px;
        }

        @include media-breakpoint-only(xs) {
            font-size: 12px;
        }
    }
}