.landing-projects-block {
    padding-bottom: 50px;

    >.title {
        margin: 0;
        padding: 50px 0 30px;

        font-family: 'worksans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #292E3D;
    }
}

.landing-projects-columns {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(lg) {
        flex-direction: column;
    }

    .col-1 {

        .container {
            width: 300px;

            @include media-breakpoint-only(lg) {
                width: 250px;
            }

            @include media-breakpoint-down(lg) {
                width: auto;
            }
        }
    }

    .col-2 {
        flex-grow: 1;

        @include media-breakpoint-down(lg) {
            flex-grow: 0;
        }
    }
}

.landing-projects-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    @include media-breakpoint-down(lg) {
        display: none;
    }

    .item {
        margin: 5px 0 5px 0;

        &:first-child {
            margin: 0 0 5px 0;
        }

        &:last-child {
            margin: 5px 0 0 0;
        }

        .link {
            text-decoration: none;

            &:hover {

                .projects-menu-item {

                    .i {
                        background: #2947A9;
                    }

                    .title {

                        .t {
                            color: #2947A9;
                        }
                    }
                }
            }
        }
    }
}

.projects-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    .i {
        width: 4px;
        height: 22px;
        background: #C2C7D6;
    }

    .title {
        padding-left: 12px;

        .t {
            font-family: "worksans";
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            color: #C2C7D6;
        }
    }
}

.active {

    .projects-menu-item {

        .i {
            background: #2947A9;
        }

        .title {

            .t {
                color: #2947A9;
            }
        }
    }
}

.landing-projects-cards {

    .cards {}

    .nav {
        padding-top: 30px;
    }
}

.landing-project-card {

    .img {

        .card-img {
            display: block;
            max-width: 100%;
        }
    }

    .title {}
}

.landing-project-card--title {
    height: 75px;
    background-color: #2947A9;

    padding: 0 15px;

    display: flex;
    flex-direction: row;
    align-items: center;

    .t {
        font-family: "worksans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #FFFFFF;
    }
}

.projects-cards-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    @include media-breakpoint-down(md) {
        grid-template-columns: minmax(min-content, 350px);
        justify-content: center;
    }

    .link {
        text-decoration: none;
    }
}

.landing-projects-nav {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-down(md) {
        display: none;
    }

    .l {}

    .center {
        flex-grow: 1;
        position: relative;
    }

    .r {}
}

.landing-projects-nav--btn {
    background-color: #292E3D;

    width: 250px;
    height: 50px;

    @include media-breakpoint-only(lg) {
        width: 200px;
    }

    @include media-breakpoint-only(md) {
        width: 200px;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.landing-projects-nav--l-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-1 {

        .i {
            margin-top: 5px;
        }
    }

    .col-2 {
        padding-left: 5px;

        .t {
            font-family: 'worksans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
}

.landing-projects-nav--r-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-1 {

        .t {
            font-family: 'worksans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
        }
    }

    .col-2 {
        padding-left: 5px;

        .i {
            margin-top: 5px;
        }
    }
}

.landing-projects-nav--dots {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-projects-nav--dots-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;

    .item {
        margin: 0 2px 0 2px;

        &:first-child {
            margin: 0 2px 0 0;
        }

        &:last-child {
            margin: 0 0 0 2px;
        }

        .dot {
            width: 16px;
            height: 16px;
            border-radius: 100%;
            background-color: #F6F8F7;
        }
    }

    .active {

        .dot {
            background-color: #2947A9;
        }
    }
}

.landing-projects-nav--mobile {
    display: none;

    @include media-breakpoint-down(md) {
        display: flex;
    }

    background-color: #292E3D;
    width: auto;
    height: 50px;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.landing-projects-nav--mobile-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-1 {

        .t {
            font-family: 'worksans';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #FFFFFF;
        }
    }

    .col-2 {
        padding-left: 5px;

        .i {
            margin-top: 5px;
        }
    }
}