.services {
    background-color: #F6F8F7;
    padding-bottom: 50px;

    .construction {
        background-color: #ffffff;

        .t {
            color: #2947A9;
        }
    }

    .renovation {
        background-color: #2947A9;

        .t {
            color: #ffffff;
        }
    }

    .consultation {
        background-color: #ffffff;

        .t {
            color: #2947A9;
        }
    }

    .repair-services {
        background-color: #2947A9;

        .t {
            color: #ffffff;
        }
    }

    .architecture {
        background-color: #ffffff;

        .t {
            color: #2947A9;
        }
    }

    .electric {
        background-color: #2947A9;

        .t {
            color: #ffffff;
        }
    }
}

.services-block {

    >.title {
        margin: 0;
        padding: 50px 0 10px;

        font-family: 'worksans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #292E3D;
    }
}

.services-previews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    >.link {
        text-decoration: none;

        &:hover {

            .t {
                color: #F9995D;
            }
        }
    }
}

.services-preview {
    width: 271px;
    height: 181px;

    @include media-breakpoint-only(md) {
        width: 250px;
    }

    @include media-breakpoint-only(sm) {
        width: 250px;
    }

    @include media-breakpoint-only(xs) {
        width: 200px;
    }

    box-shadow: 0px 0px 37px -2px rgba(17, 24, 39, 0.05);
    border-radius: 4px;

    margin: 20px 25px;

    >.container {
        padding: 30px;

        >.i {}

        >.title {
            text-align: center;

            padding-top: 20px;

            .t {
                font-family: 'worksans';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
}

.services-preview-icon {
    width: 60px;
    height: 60px;

    border-bottom: 2px solid #E0E3EB;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .icon {}
}