.experience-block-mobile {
    display: none;

    @include media-breakpoint-down(xl) {
        display: block;
        padding-bottom: 35px;
    }

    .row-1 {
        padding: 25px 0 25px;
    }

    .row-2 {}
}

.experience-mobile-cards {}

.experience-mobile-card {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    margin: 20px 0 20px 0;

    &:first-child {
        margin: 0 0 20px 0;
    }

    &:last-child {
        margin: 20px 0 0 0;
    }

    .icon {
        flex-basis: 50px;

        @include media-breakpoint-only(xs) {
            display: none;
        }

        .i {
            display: block;
            width: 70px;
            height: auto;
        }
    }

    .block {
        padding-left: 15px;
    }
}

.experience-mobile-card-number {

    .t {
        font-family: 'worksans';
        font-style: normal;
        font-weight: 600;
        font-size: 35px;
        color: #292E3D;
        line-height: 100%;
    }
}

.experience-mobile-card-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    padding-left: 5px;

    .i {
        width: 7px;
        height: 20px;
        background: #F9995D;
    }

    .t {
        font-family: 'worksans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #667299;

        margin-left: 10px;
    }
}

.experience-mobile-article {

    h3 {
        font-family: 'worksans';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        color: #2947A9;
    }

    p {
        font-family: 'worksans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #525B7A;
    }
}

.experience-mobile-link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .link {
        text-decoration: none;
    }
}

.experience-mobile-link-btn {
    width: 150px;
    height: 45px;

    background: #2947A9;
    border-radius: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .t {
        font-family: 'worksans';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
    }
}